/* file: middle.css */

.cv {
    display: flex;
    height: 100%;
    margin: 0;
    margin-top: 15px;
}

.left {
    flex-grow: 8;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}

.occupation {
    background-color: #edf8fd;
    border-left-color: #1572A1;
    border-radius: 15px;
    width: 90%;
    padding: 20px;
    border-left-width: 23px;
    border-left-style: solid;
}
.date {
    margin-top: 5px;
    margin-left: 0px;
    font-style: italic;
    font-weight: 100;
}

.client {
    font-weight: 200;
    font-size: large;
}

.title {
    font-weight: 400;
    font-size: larger;

}

.desc {
    font-size: medium;
    font-weight: 300;
}
.desc ul{
    list-style: none;
    padding-left: 40px;
    margin: 0;
}


.right {
    flex-grow: 2;
    height: 100%;
    margin: 0;
    min-width: 190px;
}

.right form {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

.right fieldset {
    margin: 0;
    padding: 10px;
}

.right legend {
    margin-left: 15px;
    padding: 0 8px 0 8px;
}

.about {
    display: flex;
}

.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 35px;
}

.link a{
    display: flex;
    margin: 20px;
    width: 230px;
    height: 150px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    border-width: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.link a:visited {
    color: black;
}

.link a:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.link a img {
    width: 100px;
    margin: auto;
}

.hobbies {
    margin: auto;
    margin-top: 40px;
    width: 80%;
}

.hobbies img {
    width: 100px;
}

.marts {
    display: flex;
}

.finance {
    display: flex;
}

.marts img {
    margin-right: 50px;
}

.finance img {
    margin-left: 50px;
}