.top {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    display: flex;
    margin-left: 30px;
    margin-bottom: 10px;
}

.top img {
    object-fit: contain;
    height: 150px;
    width: 112px;
    border-radius: 15px;
    margin-right: 20px;
    
}

.top .title {
    flex-grow: 6;
    display: flex;
    flex-direction: column;


}
.title p {
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu {
    flex-grow: 6;
    height: 100%;
}

.menu ul {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
    margin: 0;
}

.menu ul li {
    flex-grow: 1;
    text-align: center;
    background-color: #9AD0EC;
    height: 100%;
    display: grid;
    align-items: center;
}

.menu ul li:hover {

    border-bottom-style: solid;
    border-bottom-width: 10px;
    height: 89%;
    border-bottom-color: #C2F970;
    transition-duration: 400ms;
 }

.selected {

    border-bottom-style: solid;
    border-bottom-width: 10px;
    height: 89% !important;
    border-bottom-color: #C2F970;
    transition-duration: 400ms;
 }
